* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #03738C;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #96D2D9;
    margin: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 15px;
    rotate: 180deg;
}

.top, .middle, .bottom {
    display: block;
    background-color: #96D2D9;
    margin: 5px;
    transition: all 100ms ease-in-out;
}
.top {
    width: 6.25px;
    height: 3px;
}
.middle {
    width: 12.5px;
    height: 3px;
}
.bottom {
    width: 25px;
    height: 3px;
}
.burger.active .top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 25px;
    height: 3px;
}

.burger.active .middle {
    width: 0;
}

.burger.active .bottom {
    transform: rotate(-45deg) translate(6px, -6px);
    transform-origin: bottom left;
    width: 25px;
    height: 3px;
}

.link-text {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
.link-text:hover {
    font-size: 15px;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #96d2d91c;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.links.activate {
    opacity: 1;
}