* {box-sizing:border-box;margin:0;padding:0;}
body {
    background-color: #03738C;
}
.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: #96D2D9;
    margin: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 25px;
}
.burger {
    rotate: 180deg;
}
.top {
    display: block;
    width: 6.25px;
    height: 3px;
    background-color: #96D2D9;
    margin: 5px;
}
.middle {
    display: block;
    width: 12.5px;
    height: 3px;
    background-color: #96D2D9;
    margin: 5px;
}
.bottom {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #96D2D9;
    margin: 5px;
}